---
import ReactFlowSmoke from "../components/ReactFlowSmoke.jsx";
---

<html lang="en">
    <head>
        <title>React Flow smoke test</title>
    </head>
    <body>
        <main>
            <ReactFlowSmoke client:load />
        </main>
    </body>
</html>
